<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Todo App</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

<div id="app">
  <h1 class="title">{{ pageTitle }}</h1>

  <form @submit.prevent="createTodo" id="newTodoForm">
    <input v-model="newTodo" type="text" name="newtodo" id="newTodo" placeholder="Create a new todo">
    <button type="submit" class="create-btn">Create</button>
  </form>
  <div class=""></div>

  <div class="todo-wrapper">
    <div class="todo-header">
      <h3>Todos</h3>
      <form id="searchForm">
        <input type="text" placeholder="Search todo">
        <button class="search-btn">Search</button>
      </form>
    </div>
  <ul>
    <li v-for="todo in todos" class="todo">
      <span class="todo-id">{{ todo.id }}</span>
      <input type="checkbox" v-model="todo.completed">
      <span id="todoText" :class="{completed: todo.completed }">{{ todo.text }}</span>
<button class="delete-btn" @click="deleteTodo(todo)">Delete</button>
    </li>
  </ul>
  </div>


</div>








<script src="./app.js"></script> 
</body>
</html>