*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px 7%;
    /* background-color: #b0b4c6; */
    background: rgb(108,114,143);
    background: linear-gradient(69deg, rgba(108,114,143,1) 19%, rgba(71,75,95,0.9023984593837535) 97%);
    color: #fff;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #A06071;
    color: #fff;
}

input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #803F50;
}

#newTodoForm {
    margin-top: 50px;
}

#newTodoForm input {
    padding: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

button.create-btn {
    padding: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.todo-wrapper {
    margin-top: 45px;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

.todo-menu {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.todo-menu button {
    margin-right: 5px;
}


ul {
    margin-top: 15px;
    position: relative;
    list-style: none;
}

.todo {
    padding: 8px 0;
    border-bottom: 1px solid rgb(223, 221, 221);
    position: relative;
}

.todo .todo-id {
    margin-right: 20px;
}

.todo #todoText {
    padding-left: 7px;
}

.todo .delete-btn {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid red;
    color: red;
}

.todo .delete-btn:hover {
    background-color: red;
    color: white;
}

.completed {
    opacity: 0.6;
}